:root{
    --light: #dad7cd;
    --ligher: #d8e2dc;
    --darkest: #111827;
    --grey: #8693aa;
    --green: #137547;
    --blue: #023e8a;
    --light: #EEE;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', san-serif;  
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background-color: var(--light);
}
header{
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto; 
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
    
}
#newTaskForm{
    display: flex;
}
input{
   border: none;
   outline: none;
   background: transparent; 
}
#newTaskInput{
    background-color: var(--ligher);
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; 
    margin-left: 1rem;
    color: var(--darkest);
    font-size: 1.25rem;
    box-shadow: 0px 4px 8px 2px rgb(0,0,0 0.15);
}
#newTaskInput::placeholder{
    color: var(--darkest);
}
#newTaskSubmit{
    color: var(--blue);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
#newTaskSubmit:hover{
   opacity: 0.8; 
}
#newTaskSubmit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ligher);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 8px 2px rgb(0,0,0 0.15);
}
.task .content .text-:not(:read-only) {
    color: var(--blue);
    font-weight: 600;
}
.task .editDelete{
    display: flex;
    margin: 0 -0.5rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.task .editDelete i:hover{
    opacity: 0.8;
}
.task .editDelete .fa-pencil{
    color: var(--green);
    margin-right: 1rem;
}
.task .editDelete .fa-trash{
    color: crimson;
}
.task .editDelete .fa-floopy-disk{
    color: var(--green);
    margin-right: 1rem;
}
